.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image {
    margin: 10px;
}
.image img {
    max-height: 300px;
    height: 200px;
    width: auto;
    transition: all 0.3s ease;
    caption-side: bottom;
}
.image a:hover img {
    transform: scale(1.1);
}