form{
    max-width: 500px;
    margin:auto;
}
label {
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="range"],
input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

input[type="range"] {
    margin-right: 10px;
    accent-color: #be8560;
}

input[type="radio"] {
    accent-color: #be8560;
}

input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #be8560;
}

input[type="submit"] {
    background-color: #bf8042;
    display: block;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #714825;
}